
      body{
        background-color: rgb(124, 255, 255);
      }

      h1{
        text-align: center;
        color: #222;
      }

      #img{
        border: 1px #333;
        margin: 7px;
        width: 400px;
        height: 280px;
      }

      h2{
        color: red;
        font-family: sans-serif;
      }

      #description{
        padding: 10px;
        border: 2px #777;
      }

      #description p{
        font-family: serif;
      }

      .ingredients-section{
        background-color: bisque;
        padding: 8px;
      }

      .ingredients-section li{
        color: #333;
      }

      a{
        color: rgb(255, 46, 46);
        text-decoration: none;
      }

      ul{
        list-style-type: none;
      }
